---
import LoginLayout from "../layouts/LoginLayout.astro";
import LoginForm from "../components/LoginForm.astro";
---

<LoginLayout title="Login">
  <section class="bg-neutral-100">
    <div class="login">
      <div class="login__inner reveal h-screen">
        <div class="inner__brand">
          <div class="bg-neutral-900 radius-large space-8">
            <img class="brand__logo radius-large" src="/zipline.svg" alt="" />
          </div>
          <div class="brand__text">
            <span>Shrt.zip</span>
            <span>A private ShareX / File upload server</span>
          </div>
        </div>
        <div class="inner__form space-content">
          <div class="space-content">
            <h1>Register</h1>
            <LoginForm />
          </div>
        </div>
        <div class="login__footer text-neutral-700">
          <p>
            <em
              >Login page taken from <a href="https://github.com/markteekman/accessible-astro-dashboard">Accessible Astro Dashboard</a> by <a href="https://github.com/markteekman/">markteekman</a> on GitHub</em
            >
            <span class="hidden mobile-only font-bold">Psst... Scroll Down 👇</span>
          </p>
        </div>
      </div>
      <div class="login__background h-screen">
        <div class="login__background__text text-white">
          <h1>Welcome to Shrt.zip</h1>
          <h4>A private ShareX / File upload server.</h4>
          <p>To get started, enter your username, password & invite code. Then click Register. <br /> Provided your invite code is correct an account will be made for you.</p>
          <div>
            <h3 class="md:pt-16">FAQ:</h3>
            <p>
              <span class="font-bold">Q</span>: What is an invite code? <br />
              <span class="font-bold">A</span>: An invite code is a code that is required to register an account. This is to prevent spam accounts.
            </p><br />
            <p>
              <span class="font-bold">Q</span>: How do I get an invite code? <br />
              <span class="font-bold">A</span>: Invite codes are given out by the server owner. If you don't have one, you can't register an account.
            </p><br />
            <p>
              <span class="font-bold">Q</span>: How do I use Shrt.zip? <br />
              <span class="font-bold">A</span>: Once you have registered an account, you can use the ShareX custom uploader to upload files to the server. You find the uploader generator at <a
                href="https://shrt.zip/dashboard/manage"
                class="underline">shrt.zip/dashboard/manage</a
              >.
            </p><br />
            <p>
              <span class="font-bold">Q</span>: What is ShareX? <br />
              <span class="font-bold">A</span>: ShareX is a free and open-source screenshot and file uploader. You can download it from <a href="https://getsharex.com/" class="underline"
                >getsharex.com</a
              >
            </p>
            <br />
            <p>
              <span class="font-bold">Q</span>: What is a ShareX Custom Uploader? <br />
              <span class="font-bold">A</span>: A ShareX Custom Uploader is a custom configuration for ShareX that uploads files to a specific server. You can find the configuration for Shrt.zip at <a
                href="https://shrt.zip/dashboard/manage"
                class="underline">shrt.zip/dashboard/manage</a
              >.
            </p>
            <br />

            <p>
              <span class="font-bold">Q</span>: Is there an upload limit? <br />
              <span class="font-bold">A</span>: No, there is no upload limit. However, abuse of the service will result your accoint being removed and all files deleted.
            </p>
            <br />

            <p>
              <span class="font-bold">Q</span>: Can I delete my data? <br />
              <span class="font-bold">A</span>: Yes, you can delete your data at any time <a href="https://shrt.zip/dashboard/manage">here</a>. If you want your account to be deleted as well, please
              contact the administrator.
            </p>
            <br />

            <p>
              <span class="font-bold">Q</span>: Can I change my password? <br />
              <span class="font-bold">A</span>: Yes, you can change your password at any time <a href="https://shrt.zip/dashboard/manage">here</a>.
            </p>
            <br />

            <p>
              <span class="font-bold">Q</span>: Can I change my username? <br />
              <span class="font-bold">A</span>: No, you cannot change your username. It is fixed to the one you registered with.
            </p>
            <br />

            <p>
              <span class="font-bold">Q</span>: Can I sign in with Discord? <br />
              <span class="font-bold">A</span>: Yes! Just link your Discord account in <a href="https://shrt.zip/dashboard/manage">the dashboard</a>. Once linked, you can sign in with Discord.
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      // Function to detect mobile device
      function isMobileDevice() {
        return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
      }

      // If a mobile device is detected
      if (isMobileDevice()) {
        // Select all elements with the class 'mobile-only' and remove the 'hidden' class
        const mobileOnlyElements = document.querySelectorAll(".mobile-only");
        mobileOnlyElements.forEach((element) => {
          element.classList.remove("hidden");
        });
      }
    });
  </script>

  <style lang="scss">
    @use "../assets/scss/base/breakpoint" as *;
    @use "../assets/scss/base/size" as *;
    @use "../assets/scss/base/space" as *;

    .login {
      display: grid;

      @include breakpoint(medium) {
        grid-template-columns: 550px 2fr;
      }

      .login__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: $space-48;
        padding: $space-24;
        z-index: 1;

        @include breakpoint(medium) {
          padding: $space-48 $space-96;
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
        }
      }

      .inner__brand {
        display: flex;
        align-items: center;
        gap: $space-16;
      }

      .brand__logo {
        max-width: 50px;
      }

      .brand__text {
        display: flex;
        flex-direction: column;
        gap: $space-2;

        > :first-child {
          font-weight: bold;
          @include size-20;
        }

        > :last-child {
          @include size-14;
        }
      }

      .login__background {
        position: relative;
        overflow: auto;
      }

      .login__background::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/city-background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(5px) brightness(0.5);
        z-index: 0;
      }

      @include breakpoint(medium) {
        .login__background::before {
          display: block;
        }
      }

      .login__background__text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $space-8;
        padding: $space-24;
        color: white;
        text-align: center;
        z-index: 1;
      }

      .reveal {
        animation: reveal 0.3s ease-in;
      }

      .login__footer {
        padding-bottom: $space-24;

        @include breakpoint(medium) {
          padding-bottom: 0;
        }
      }
    }

    @keyframes reveal {
      0% {
        opacity: 0;
        transform: translateY(-1rem);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>
</LoginLayout>
